html {
    font-size: 10px;
}
body {
    overflow-x: hidden;
}
/*COMMON*/
.big-wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.mini-wrapper {
    max-width: 85rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.title {
    font-size: 4rem;
    font-weight: 600;
}
.text {
    font-size: 1.8rem;
    line-height: 1.6;
}
/*HEADER*/
header {
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: white;
    width: 100%;
}
header nav a {
    font-size: 1.4rem;
}
.header__works {
    font-size: 1.6rem;
}
a {
    text-decoration: none !important;
    color: black !important;
}
/*WELCOME*/
.welcome {
}
.blur-shadow {
    background: rgba(0, 0, 0, 0.74);
    left: 0;
    top: 0;
    backdrop-filter: blur(4px);
}
.welcome__slide_content_block {
    min-height: 95vh;
    padding: 15rem 0;
}
.welcome__slide_content {
    color: white;
}

.welcome__slide_content h2 {
    font-size: 4rem;
}
.welcome__slide_btn {
    font-size: 1.6rem;
    padding: 1.8rem 4rem;
    font-weight: 600;
    color: black;
    background: white;
}
/*ABOUT WORK*/
.about-work {
    padding: 15rem 0;
}
.service__item {
    padding: 2rem 0;
    border-bottom: 1px solid lightgrey;
    background: transparent;
}
.service__item_title {
    font-size: 1.8rem;
    font-weight: 500;
}
.service__item_btn {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: rgb(238, 238, 238);
}
.service__item_content {
    padding-top: 3rem;
}
.service__img {
    max-width: 30rem;
    background: red;
}
.service__img img {
    width: 100%;
}
.service__list {
    font-size: 1.6rem;
    padding-left: 4rem;
}
.service__list li {
    list-style: disc;
}
.gallery {
    padding: 15rem 0;
}
.gallery__item_block {
    width: 25%;
    height: 16vw;
    position: relative;
}
.gallery__item {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}
.gallery__item:hover {
    transform: scale(1.15);
    z-index: 3;
}
.features {
    padding: 15rem 0;
    background: rgb(240, 240, 240);
}
.feature__item {
    max-width: 32rem;
}
.feature__item p {
    font-size: 1.4rem;

}
.promo {
    padding: 15rem 0;
}
.order {
    padding: 15rem 0;
}
.order__block {
    padding: 10rem 5rem;
    box-shadow: 0  0 3rem rgba(0, 0, 0, 0.103);
}
.order__input {
    font-size: 1.6rem;
    padding: 1.6rem;
    border-bottom: 1px solid lightgray;
}
.order__btn {
    font-size: 1.6rem;
    padding: 1.8rem 4rem;
    font-weight: 600;
    color: white;
    background: rgb(27, 27, 27);
}
.map {
    padding-top: 15rem;
}
footer {
    padding: 2rem;
    background: rgb(26, 25, 47);
    color: white;
}